.container{
    margin: auto;
    width: 500px;
    height: 500px;
    border: 1px solid black;

    /* FONDO PLANO */
    background: rgb(127, 127, 183);
    background: rgba(127, 127, 183, 0.466);

    /* FONDO DEGRADADO */
    background: linear-gradient(90deg, blue, orange);
    background: radial-gradient(orange, green);

    /* IMAGEN DE FONDO */

    background-image: url(../images/img1.jpg);
    background-repeat: no-repeat;
    /* la imagen se queda como estatica */
    background-attachment: fixed;
    /* Se mueve la imagen cuando se baja */
    background-attachment: scroll;
    background-position: center;
    background-size: cover;


    background: black url(../images/img1.jpg) no-repeat scroll center cover;
}

.contenido{
    margin: auto;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    background-color: rgba(127, 255, 212, 0.329);
    justify-content: center;
}

h1{
    text-align: center;
    font-size:50px;
    color: transparent;
    padding-top:40%;
    /* Para darle borde al texto */
    -webkit-text-stroke: 2px black;
}