:root{
    --color-primario: orange;
    --color-secundario: peru;
    --color-alineacion: center;
    /* sirve para cualquei variable */
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 150px;
    background-color: slateblue;
    display: flex;
    flex-direction: column;
    justify-content: var(--color-alineacion);
    align-items: center;
    text-align: center;
    padding: 100px;
}

header h1{
    color: white;
    font-size: 18px;
}

header a{
    padding: 10px;
    background-color: var(--color-primario);
    border-radius: 10px;
    text-decoration: none;
    color: white;
    margin: auto;
    margin-top: 50px;
    width: 10%;
}

header a:hover{
    background-color: var(--color-secundario);
}

div{
    width: 25%;
    float: left;
    background-color: green;
    margin: 20px;
    padding: 20px;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}

div p{
    font-size: 18px;
}

div a{
    padding: 10px;
    background-color:var(--color-primario);
    border-radius: 10px;
    text-decoration: none;
    color: white;
    margin: auto;
    margin-top: 50px;
    width: 20%;
    text-align: center;
}

div a:hover{
    background-color: var(--color-secundario);
}